# Data Cleaning

In [30]:
import pandas as pd
import irdatacleaning
import seaborn as sns
import  numpy as np
from sklearn.model_selection import  train_test_split
from sklearn.linear_model import SGDClassifier
sgd_class = SGDClassifier()
titanic_df = sns.load_dataset("titanic")

In [31]:
titanic_df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [32]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [33]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [34]:
titanic_df["sex"].value_counts()

male      577
female    314
Name: sex, dtype: int64

In [35]:
titanic_df.embarked.value_counts()

S    644
C    168
Q     77
Name: embarked, dtype: int64

In [36]:
titanic_df["class"].value_counts()

Third     491
First     216
Second    184
Name: class, dtype: int64

In [37]:
titanic_df.who.value_counts()

man      537
woman    271
child     83
Name: who, dtype: int64

In [38]:
titanic_df.deck.value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: deck, dtype: int64

In [39]:
titanic_df.embark_town.value_counts()

Southampton    644
Cherbourg      168
Queenstown      77
Name: embark_town, dtype: int64

In [40]:
age_df = titanic_df.age
who_df = titanic_df.who
age_who_comb = pd.concat([age_df,who_df], axis=1)
finding_the_mean = age_who_comb.groupby("who").mean()
child_mean = round(finding_the_mean["age"][0])
man_mean = round(finding_the_mean["age"][1])
woman_mean = round(finding_the_mean["age"][2])
man_check = lambda x: age_who_comb["who"][x]=="man"
woman_check = lambda x: age_who_comb["who"][x] =="woman"
child_check = lambda x: age_who_comb["who"][x] =="child"
age_correct_np = age_who_comb.iloc[:,0].values
for i in range(len(age_correct_np)):
    if np.isnan(age_correct_np[i]):
        if (man_check(i)):
            age_correct_np[i] = man_mean
        elif (woman_check(i)):
            age_correct_np[i] = woman_mean
        elif(child_check(i)):
            age_correct_np[i] = child_mean
titanic_df["age"] = age_correct_np

In [41]:
titanic_df.drop(columns="deck",inplace= True)

In [42]:
titanic_df.dropna(inplace=True)

In [43]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   sex          889 non-null    object
 3   age          889 non-null    float64
 4   sibsp        889 non-null    int64
 5   parch        889 non-null    int64
 6   fare         889 non-null    float64
 7   embarked     889 non-null    object
 8   class        889 non-null    category
 9   who          889 non-null    object
 10  adult_male   889 non-null    bool
 11  embark_town  889 non-null    object
 12  alive        889 non-null    object
 13  alone        889 non-null    bool
dtypes: bool(2), category(1), float64(2), int64(4), object(5)
memory usage: 86.1+ KB

In [44]:
encoder = irdatacleaning.Encoder(df = titanic_df, columns=["sex","embarked","embark_town","alive","who","class"])

In [45]:
titanic_df = encoder.check()

In [46]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    int64
 1   pclass       889 non-null    int64
 2   age          889 non-null    float64
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   adult_male   889 non-null    bool
 7   alone        889 non-null    bool
 8   female       889 non-null    uint8
 9   male         889 non-null    uint8
 10  C            889 non-null    uint8
 11  Q            889 non-null    uint8
 12  S            889 non-null    uint8
 13  Cherbourg    889 non-null    uint8
 14  Queenstown   889 non-null    uint8
 15  Southampton  889 non-null    uint8
 16  no           889 non-null    uint8
 17  yes          889 non-null    uint8
 18  child        889 non-null    uint8
 19  man          889 non-null    uint8
 20  woman        889 non-null    uint8
 21  First        889 non-null    uint8
 22  Second       889 non-null    uint8
 23  Third        889 non-null    uint8
dtypes: bool(2), float64(2), int64(4), uint8(16)
memory usage: 64.2 KB

In [47]:
titanic_df.survived

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: survived, Length: 889, dtype: int64

In [48]:
survived = titanic_df.survived
titanic_df.survived = (survived==1)

In [49]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     889 non-null    bool
 1   pclass       889 non-null    int64
 2   age          889 non-null    float64
 3   sibsp        889 non-null    int64
 4   parch        889 non-null    int64
 5   fare         889 non-null    float64
 6   adult_male   889 non-null    bool
 7   alone        889 non-null    bool
 8   female       889 non-null    uint8
 9   male         889 non-null    uint8
 10  C            889 non-null    uint8
 11  Q            889 non-null    uint8
 12  S            889 non-null    uint8
 13  Cherbourg    889 non-null    uint8
 14  Queenstown   889 non-null    uint8
 15  Southampton  889 non-null    uint8
 16  no           889 non-null    uint8
 17  yes          889 non-null    uint8
 18  child        889 non-null    uint8
 19  man          889 non-null    uint8
 20  woman        889 non-null    uint8
 21  First        889 non-null    uint8
 22  Second       889 non-null    uint8
 23  Third        889 non-null    uint8
dtypes: bool(3), float64(2), int64(3), uint8(16)
memory usage: 58.2 KB

In [59]:
X_train,X_test,y_train, y_test =train_test_split(titanic_df.drop(columns = "survived"),
                                                 titanic_df.survived,
                                                 train_size=0.2)

In [60]:
sgd_class = SGDClassifier()

In [61]:
sgd_class.fit(X_train, y_train)

SGDClassifier()

In [62]:
y_pred = sgd_class.predict(X_train)

In [63]:
def will_i_survive(my_age,who):
    age = [ i for i in X_train.age]
    who_i_am = [i for i in X_train[who]]
    for i in range(len(X_train.age)):
        if age[i] == my_age:
                if who_i_am[i]== 1 :
                    return(i)

In [64]:
print(f"will I live through the titanic {y_pred[will_i_survive(23,'man')]}")

will I live through the titanic False